<div *ngIf="node" class="node-container">
  <div class="person-card">
    <!-- Формируем правильную, полную ссылку -->
    <a [routerLink]="['/trees', treeId, 'person', node.id]" class="person-name">
      {{ node.firstName }} {{ node.lastName }}
    </a>
    <span class="person-gender">({{ node.gender }})</span>

    <div *ngFor="let spouse of node.spouses" class="spouse-card">
      +
      <a [routerLink]="['/trees', treeId, 'person', spouse.id]" class="person-name">
        {{ spouse.firstName }} {{ spouse.lastName }}
      </a>
    </div>
  </div>

  <div *ngIf="node.children && node.children.length > 0" class="children-container">
    <!-- И передаем treeId дальше дочерним компонентам -->
    <app-person-node 
      *ngFor="let child of node.children" 
      [node]="child" 
      [treeId]="treeId">
    </app-person-node>
  </div>
</div>