<div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Мои деревья</h2>
    <button (click)="logout()">Выйти</button>
  </div>

  <div *ngIf="trees.length > 0; else noTrees">
    <ul>
      <!-- Оборачиваем li в ссылку с помощью routerLink -->
      <li *ngFor="let tree of trees">
        <a [routerLink]="['/trees/view', tree.id]">
          {{ tree.name }}
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noTrees>
    <p>У вас пока нет деревьев. Создайте первое!</p>
  </ng-template>
</div>